* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(72, 162, 241);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 50px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.book {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.08);
  font-size: 2rem;
}

.add-btn {
  margin-top: 50px;
  border: 3px solid white;
  background: transparent;
  color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.5s ease;
}

.add-btn:hover {
  transform: scale(1.1);
}

.book-form {
  display: none;
}

.book-question {
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.book-question div {
  margin-bottom: 10px;
}

.book-question div label {
  font-size: 2rem;
}

.book-question div input {
  height: 30px;
  font-size: 20px;
}

.add-lbr {
  margin-top: 25px;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.delete-btn {
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
}
